uddi_stock_market/uddi_stock_market/WebContent/wsdl/Bank.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://controllers" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://controllers" xmlns:intf="http://controllers" xmlns:tns1="http://entities" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://controllers" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://entities"/>
   <element name="createBankAccount">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="initialAmount" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="createBankAccountResponse">
    <complexType>
     <sequence>
      <element name="createBankAccountReturn" type="tns1:BankAccount"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBankAccount">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBankAccountResponse">
    <complexType>
     <sequence>
      <element name="getBankAccountReturn" type="tns1:BankAccount"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://entities" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="BankAccount">
    <sequence>
     <element name="accountBalance" type="xsd:float"/>
     <element name="accountHolder" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="createBankAccountRequest">

      <wsdl:part element="impl:createBankAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBankAccountRequest">

      <wsdl:part element="impl:getBankAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createBankAccountResponse">

      <wsdl:part element="impl:createBankAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBankAccountResponse">

      <wsdl:part element="impl:getBankAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Bank">

      <wsdl:operation name="createBankAccount">

         <wsdl:input message="impl:createBankAccountRequest" name="createBankAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:createBankAccountResponse" name="createBankAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBankAccount">

         <wsdl:input message="impl:getBankAccountRequest" name="getBankAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBankAccountResponse" name="getBankAccountResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BankSoapBinding" type="impl:Bank">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createBankAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createBankAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createBankAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBankAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBankAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBankAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BankService">

      <wsdl:port binding="impl:BankSoapBinding" name="Bank">

         <wsdlsoap:address location="http://localhost:8080/uddi_stock_market/services/Bank"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
